body {
	color: blue;
}

h1 {
	text-align: center;
	/*padding-bottom: 5%;*/
}

#park-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-park {
  width: 75%;
  height: 100px;
  text-align: center;
  background-color: lightgreen;
  border: 1px solid black;
}